.footer {
    margin-top: 16px;
}

.pageWrapper, .programWrapper {
    margin-bottom: 10px;
}

.navLink {
    color: var(--grey);
    font-size: 1.2rem;
    margin-right: 6px;
    display: inline-block;
}

.navLink:hover {
    text-decoration: underline;
}

.moreWrapper, .copyright{
    color: var(--grey);
    font-size: 1.2rem;
    margin-top: 10px;
}