.postUser {
    padding: 50px 20px;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.author {
    display: inline-block;
}

.postUser {
    display: flex;
}

.postContent {
    padding-left: 20px;
    position: relative;
}

.authorInfo {
    margin-bottom: 6px;
}

.postHeading {
    color: var(--black1);
    font-size: 1.8rem;
    display: inline-block;
}

.nickname {
    font-size: 1.4rem;
    color: var(--black);
    margin-left: 4px;
    display: inline-block;
}

.captionVideo {
    font-size: 1.6rem;
}

.answer {
    color: var(--black2);
    opacity: 0.3;
    margin-right: 3px;
}

.targetUser {
    color: var(--black2);
    font-weight: bold;
    display: inline-block;
    margin-right: 3px;
}

.targetUser:hover {
    text-decoration: underline;
}

.description {
    color: var(--black2);
    opacity: 0.6;
}

.text {
    color: var(--black2);
    font-weight: bold;
    display: block;
}

.musicContent {
    margin-top: 10px;
}

.musicIcon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.musicDesc {
    font-size: 1.6rem;
    color: var(--black);
}

.itemVideo {
    margin-top: 20px;
}

.video {
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

.itemVideo {
    display: flex;
    align-items: flex-end;
}

.iconSocial {
    padding-left: 12px;
}

.icon {
    margin-bottom: 12px;
    font-size: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.iconItem {
    cursor: pointer;
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0;
    }
}

.boxIcon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey4);
    &:hover {
        background-color: var(--grey6);
    }
}

.votes {
    display: block;
    text-align: center;
    color: var(--grey7);
    margin-top: 6px;
    font-size: 1.3rem;
}

.follow {
    position: absolute;
    right: -100px;
    top: 0;
}

.videoCardBig {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.videoCardContainer {
    padding: 0px 80px;
    background: black;
    flex: 1 1 896px;
    position: relative;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    width: 10%;
    height: 10%;
    filter: blur(2px);
    left: 50%;
    top: 50%;
    transform: scale(11);
    opacity: 0.3;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoCardBrowse {
    background-image: url('https://p16-sign-sg.tiktokcdn.com/obj/tos-alisg-p-0037/e6d0544b2a9844fea9ff763b41003339?x-expires=1618473600&x-signature=RjdlYWQhA2FwaWxIPUxVSAvGt3I%3D');
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.videoContainer {
    position: absolute;
    inset: 0px;
    transform: none;
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--grey9);
    position: absolute;
    top: 20px;
    left: 20px;
}

.buttonRight {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--grey6);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.closeIcon, .rightIcon {
    color: var(--white);
    font-size: 2.5rem;
}

.contentContainer {
    flex: 0 0 544px;
    width: 544px;
    display: flex;
    flex-direction: column;
}

.userInfoContainer {
    padding: 32px 32px 0px;
}

.userInfo {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 22px 0px 15px;
    color: rgb(22, 24, 35);
}

.userAvatar {
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.userInfoLink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 12px;
}

.userInfoLink h3 {
    font-size: 1.8rem;
    color: var(--black);
}

.userInfoLink .nameAvatar {
    font-size: 1.4rem;
    font-weight: 400;
}

.videoInfosContainer {
    padding: 0px 32px;
}

.musicDescription {
    color: var(--black2);
    font-size: 1.8rem;
    margin: 10px 0 16px;
    display: block;
    &:hover {
        text-decoration: underline;
    }
}

.iconMusic {
    margin-right: 10px;
}

.actionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        transform: scaleY(0.5);
        border-top: 1px solid rgba(18, 18, 18, 0.12);
        top: 0px;
    }
}

.actionLeft {
    display: flex;
    font-size: 16px;
}

.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--grey4);
    cursor: pointer;
    &:hover {
        background-color: var(--grey5);
    }
}

.shareContainer {
    display: flex;
}

.icon:last-child {
    margin-left: 20px;
}

.shareContainer p {
    font-size: 1.6rem;
    color: var(--black);
    margin-right: 8px;
}

.shareGroup {
    display: flex;
    align-items: center;
}

.socialBox {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.socialBoxGreen {
    background-color: var(--green);
}

.socialBoxBlue {
    background-color: var(--blue);
}

.socialBoxBlue1 {
    background-color: var(--blue1);
}

.WhatsAppIcon, .facebookIcon , .twitterIcon{
    color: var(--white);
    font-size: 1.8rem;
}

.copyLinkContainer {
    display: flex;
    justify-content: space-between;

    width: 480px;
    height: 32px;
    border-radius: 2px;

    margin-bottom: 18px;
    border: 1px solid var(--grey8);
}

.linkContainer {
    font-weight: 400;
    padding: 5px 12px 9px;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.copyContainer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.RiLinksLineIcon {
    color: var(--red);
    font-size: 1.8rem;
}

.wordLink {
    color: var(--red);
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0 16px 0 9px;
    font-weight: 700;
}

.commentContainer {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        transform: scaleY(0.5);
        border-top: 1px solid rgba(18, 18, 18, 0.12);
        top: 0px;
    }
}

.logoutContainer {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 0px 60px;
    margin-top: 30px;
    h3 {
        font-size: 2.4rem;
        margin-bottom: 8px;
        color: var(--black1);
        font-weight: bold;
    }
    p {
        font-size: 1.6rem;
        margin-bottom: 20px;
        color: var(--black);
    }
}

.signUp {
    margin-top: 20px;
    span {
        color: var(--red);
        font-weight: bold;
        cursor: pointer;
    }
}